*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(256deg, rgba(2,0,36,1) 0%, rgba(200,185,187,1) 76%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    height: 90px;
    background-color:rgba(223, 211, 211, 0.171); 
    /*background-color: rgb(126, 213, 243 );*/
   /* background: #13D631;*/
    position: fixed;
}
.container{
    max-width: 1100px;
    margin: auto;
    display: flex;
}

.sub-container{
    text-align: center;
    align-items: center;
    margin: 15px auto;
}
.logo{
    float: left;
    line-height: 65px;
    color: black;

}
.menu{
    float: right;
    line-height: 65px;
    text-align: center;
    align-items: center;
    margin-left: 200px;
}
.menu ul{
    display: flex;
    list-style: none;
}

.menu a{
	font-weight: bold;
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
   /* color: #6d6d6d;*/
    transition: all 500ms ease;
}
.menu a:hover{
    background: #cc673b;
    color: #fff;
}
.menu .submenu{
    background: rgba(223, 211, 211, 0.171);
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
.menu .submenu li a{
    line-height: 50px;
}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
}
/*estilos para la portada*/

.box_admin{
	position: relative;
	left: 120px;
	top: 120px;
	width: 250px;
	height: 150px;
    background-color:rgba(155, 145, 145, 0.322); 
	padding: 10px; 
}

.container_table{
    display: flex;
}

.table_elements{
    margin: 140px auto;
    align-items: center;
    text-align: center;
}

.container_table .table_elements table{
    border: 3px solid #000000;
    width: 90%;
}

.container_table .table_elements table td{
    font-weight: bold;
    padding: 20px;
    height: 50px;
    background-color:rgba(226, 204, 204, 0.171);
}


.box-btn{
    display: flex;
}

button {
  margin: 100px auto;
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg,#1c1c1c,#6220fb);
  border: 0 solid;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}

a{
    text-decoration: none;
}